*,
*::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
    font-family: inherit;
    font-weight:inherit;
}
html,body{
    height: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    font-family:Roboto,sans-serif;
    font-size:16px;
    line-height:26px;
    font-weight:400;
    letter-spacing: 0.05em;
}
/* прижимаю footer */
.page{
    display:flex;
    flex-direction:column;
    overflow: hidden;
    min-height:100%;
}
.main{
    flex:1 1 auto;
}
/* HEADER */
.header{
    padding-top: 32px;
}
.container{
    max-width:1140px;
    margin: 0 auto;
}
.header__container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
/* SECTION-HERO */
.hero{
    padding-top: 107px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.hero__container{
    min-height:613px;
    background-image:url(/imgs/illustration.png);
    background-repeat: no-repeat;
    background-position: right 30px;
    background-size: 44%;
} 
.hero__heading{
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.heading--wdth{
    max-width:510px;
    margin-bottom: 32px;
}
.text{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity:0.6;
}
.hero__text--wdth{
    max-width:425px;
    margin-bottom: 71px;
}
.btn{
    display:inline-block;
    font-size:16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color:#fff;
    background-color:#5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
}
.hero__btn{
    padding: 15px 50px;
    border-radius:10px;
}
/* SECTION-DO */
.do{
    padding-top: 64px;
}
.title{
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    color:#000;
}
.title__do{
    text-align:center;
}
.list-do{
    display:flex;
    justify-content: space-between;
    padding-top: 64px;
}
.list-do__item{
    display:flex;
    flex-direction: column;
    width: 359px;
    padding: 44px 32px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: #fff;
}
.list-do__subtitle{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}
.list-do__text{
    margin-bottom: 30px;
}
.list-do__link{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
}
.list-do__img{
    align-self: center;
    margin-bottom: 51px;
}
.list-do__img--pst{
    position:relative;
    right:33px;
}
/* SECTION-PROJECT */
.project{
    padding-top: 64px;
    padding-bottom: 112px;
}
.project__container{
    text-align: center;
}
.project__title{
    margin-bottom: 32px;
}
.project__text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #222222;
    opacity:1;
}
.project__text--mb{
    max-width:69%;
    margin:0px auto 64px;
}
.wrapper-home{
    display:flex;
}
.project__home{
    position:relative;
    flex-grow:1;
}
.project__text-home{
    position:absolute;
    top:64px;
    right:64px;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.project__img{
    width:100%;
    height: 100%;
}
.project__block{
    display:flex;
    justify-content: space-between;
    margin-top: 32px;
}
.project__item--mr{
    margin-right: 32px;
}
.project__app{
    position:relative;
    flex-grow:1;
}
.project__text-app{
    position:absolute;
    left:32px;
    top:32px;
}
.project__car{
    position:relative;
    flex-grow:1;
}
.subtext{
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.project__text-car{
    position:absolute;
    left: 32px;
    top: 32px;
}
/* FOOTER */
.footer{
    padding-top: 91px;
    padding-bottom: 64px;
    min-height:657px;
    background-color: #316099;;
}
.footer__top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 96px;
}
.footer__title{
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    max-width: 340px;
}
.footer__text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    max-width: 495px;
}
.footer__btn{
    padding: 15px 80px;
}
hr{
    opacity: 0.4;
    border-bottom: 1px solid #FFFFFF;
}
.footer__bottom{
    padding-top: 64px;
}
.footer-text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF
}
.footer__list{
    display:flex;
    justify-content: space-between;
}
 .footer__item:not(:last-child){
    margin-right: 50px;
}
.footer__item{
    flex:1 1 33.3333%;
    display:flex;
}
.first::before{
    content:"1.";
    margin-right: 16px;
    display:block;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.second::before{
    content:"2.";
    margin-right: 16px;
    display:block;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.last::before{
    content:"3.";
    margin-right: 16px;
    display:block;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.footer__copy{
    padding-top: 64px;
}
.footer__copy-text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
}

@media (max-width:1024px){
    .container-hdr-do{
        padding-left: 32px;
        padding-right: 32px;
    }
    .hero__container{
        background-position: right center;
    }
    .hero{
        padding-top: 112px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .list-do{
        flex-direction: column;
        align-items: center;
    }
    .list-do__item:not(:last-child){
        margin-bottom: 32px;
    }
    .project{
        padding-top: 127px;
    }
    .wrapper--pd-lr{
        padding-left: 32px;
        padding-right: 32px;
    }
    .footer{
        padding-top: 47px;
    }
    .footer__container{
        padding-left: 32px;
        padding-right: 32px;
    }
    .footer__btn{
        padding: 4px 31px;
    }
    .wrapper-btn{
        transform: translateY(10px);
    }
    .text-block{
        max-width:336px;
    }
    .footer__top{
        justify-content: space-around;
        padding-bottom: 64px;
    }
    .footer__list{
        flex-direction: column;
    }
    .footer__item:not(:last-child){
        margin-bottom: 25px;
        margin-right: 0px;
    }
}
@media (max-width:667px){
    .header{
        padding-top: 24px;
    }
    .container-hdr-do{
        padding: 0 16px;
        min-height:48px;
    }
    .hero{
        padding: 0 16px;
        padding-top: 28px;
        padding-bottom: 40px;
        min-height:290px;
        background: linear-gradient(0deg, #DAEAF7 8.84%, rgba(152, 195, 232, 0) 31.12%);
    }
    .hero__container{
        min-height:192px;
    }
    .hero__heading{
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        letter-spacing: 0.04em;
        max-width: 93%;
    }
    .heading--wdth{
        margin-bottom: 12px;
    }
    .hero__text--wdth{
        max-width:100%;
        text-align: center;
        margin-bottom: 32px;
    }
    .btn{
        font-size: 12px;
        line-height: 26px;
        text-align: center;
    }
    .hero__btn{
        padding:1px 15px;
    }
    .hero__container{
        display:flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }
    .title{
        font-size: 24px;
        line-height: 28px;
    }
    .list-do{
        padding-top: 32px;
    }
    .project{
        padding-top: 64px;
        padding-bottom: 64px;
    }
    .project__text--mb{
        max-width:93%;
        margin:0 auto 82px;
    }
    .wrapper--pd-lr{
        padding: 0 16px;
    }
    .project__block{
        margin-top: 0;
        flex-direction:column;
    }
    .project__item--mr{
        margin-right: 0;
    }
    .project__app{
        display:flex;
    }
    .project__car{
        display:flex;
    }
    .project__img{
        max-width:100%;
    }
    .wrapper-home{
        margin-bottom: 16px;
    }
    .project__app{
        margin-bottom: 16px;
    }
    .project__text-home{
        font-size: 16px;
        line-height: 19px;
        top:16px;
        right:16px;
    }
    .project__text-app{
        font-size: 16px;
        line-height: 19px;
        top:26px;
        left:16px;
    }
    .project__text-car{
        font-size: 16px;
        line-height: 19px;
        top:16px;
        left:16px;
    }
    .footer{
        padding-top: 18px;
        padding-bottom: 32px;
        min-height:542px;
    }
    .footer__container{
        padding: 0 16px;
    }
    .footer__top{
        flex-direction:column;
        align-items: center;
        padding-bottom: 40px;
    }
    .footer__bottom{
        padding-top: 32px;
    }
    .footer__title{
        text-align: center;
        font-size: 24px;
        line-height: 28px;
        max-width:75%;
        margin: 0 auto 32px;
    }
    .footer__text{
        max-width:100%;
        text-align: center;
    }
    .footer__btn{
        padding: 1px 20px;
    }
    .footer__copy{
        text-align: center;
    }
    .text-block{
        max-width:100%;
        margin-bottom: 40px;
    }
    .wrapper-btn{
        transform: translateY(0);
    }
}

@media (max-width:151px){
    .hero__btn{
        padding: 1px 3px;
    }
    .btn{
        font-size:8px;
    }
}
